# Secrets file for timebot expert system
#
# NOTE:  The configuration-reader attempts to convert
# variables to strings.  To ensure this doesn't happen,
# surround all string values with quotes
#

# API and other keys
GOOGLE_APPLICATION_CREDENTIALS=
OCR_SECRET_KEY=
OCR_UPLOAD_KEY=
OCR_UPLOAD_USER=

EXTERNAL_LLM_API_URL=
EXTERNAL_LLM_API_KEY=

ADMIN_DASHBOARD_PASSWORD=

FIREBASE_API_KEY=
FIREBASE_MESSAGING_SENDER_ID=
FIREBASE_APP_ID=
FIREBASE_SERVICE_ACCOUNT_KEY=

FIREBASE_ADMIN_EMAIL=
FIREBASE_EMAIL_SENDER=
SMTP_SERVER=
SMTP_PORT=
SMTP_USERNAME=
